.soc-med-links {
  margin-bottom: $spacing-unit;
}

.github-logo,
.linkedin-logo,
.lastfm-logo {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  margin-right: $spacing-unit;
}

.music__details {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;

  a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}
