$font-family: sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 600;
$text-colour: map-get($colours, text);
$heading-color: map-get($colours, heading);
$highlight-color: map-get($colours, highlight);

$text: (
  heading-one: ( small: ( font-size: 36px, line-height: 1.5), large: ( font-size: 50px, line-height: 1.5)),
  heading-two: ( small: ( font-size: 29px, line-height: 1.5), large: ( font-size: 40px, line-height: 1.5)),
  heading-three: ( small: ( font-size: 25px, line-height: 1.5), large: ( font-size: 34px, line-height: 1.5)),
  heading-four: ( small: ( font-size: 20px, line-height: 1.5), large: ( font-size: 28px, line-height: 1.5)),
  text-lead: ( small: ( font-size: 18px, line-height: 1.5), large: ( font-size: 22px, line-height: 1.5)),
  text-body: ( small: ( font-size: 16px, line-height: 1.5), large: ( font-size: 18px, line-height: 1.5)),
  text-smallprint: ( small: ( font-size: 12px, line-height: 1.5), large: ( font-size: 12px, line-height: 1.5))
);
